---
layout: archive
---

{{ content }}

<div class="page__meta">
  <br />
  {% assign postsInYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
          <span itemprop="keywords"><a href="#{{ year.name }}" class="page__taxonomy-item"><strong>{{ year.name }}:&nbsp;</strong><span class="taxonomy__count">{{ year.items | size }}</span>&nbsp;</a></span>
  {% endfor %}
</div>

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
